<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    


    <!-- load jQuery 1.11.0 -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
var jQuery_1_11_0 = $.noConflict(true);
</script>

<!-- load jQuery 1.4.4
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
var jQuery_1_4_4 = $.noConflict(true);
</script>
-->

<!-- load jQuery 1.5.2-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript">
var jQuery_1_5_2 = $.noConflict(true);
</script>




    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
   

    
    
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/icomoon/style.css' />
  </head>
  <body>
   <h1 style="display: inline-block;" > <%= title %> </h1>    
 &nbsp;
     <!-- Button trigger modal -->
     <span> <button type="button" class="btn btn-primary" style="background-color:rgb(120, 132, 197) ; margin-bottom:2.5rem !important ;width:150px !important;" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Codebook
    </button>   </span> 

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Codebook</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Codebook:<br/> 

            <img src="propaganda_categories.png" alt="Propaganda Cetegories" style="width:500px;height:600px;">


          </div>
          
        </div>
      </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

  


    <!-- Modal end-->
    




 

    <div class="card">
      <% var index=1; %>    
      <h5 class="card-header"><b>File: </b> <%= filename %></h5>
      <div class="card-body">
        
      
 
        <% var annotations=[]; %>   

        <!--content above here will a constant be on each card -->


       
           

<div class="content" data-id='<%- index %>' style="display: block;">

  <h5 class="card-title">      <%= index %>/<%= posts.length %> 
    <br/>  <br/>
    <b> Created UTC:  </b>  
    <p class="card-text">
    

           <%- posts[0].created_at %>
                    
  

      </p>
    
      <b> Tweet:   </b>    
    <p class="card-text">
          
      <%- posts[0].text %>
      </p>
      <%index=index+1; %>       
   
Categories:
<br/><br/>


<form id="myform" action="/" method="post" onsubmit="return myFunction();">

 
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" id="namecalling"  onclick="toggle(this, 'namecallingshow+<%- index %>')" name="namecalling+<%- index %>" >
    <label class="form-check-label" for="namecalling">
      Name Calling 
    </label>
    
    <div style="display:none;" id= 'namecallingshow+<%- index %>'> 
      <textarea id="namecallingtext+<%- index %>" name="namecallingtext+<%- index %>"  style="font-size: 1rem;" rows="2" cols="50">
        </textarea>

  </div>
    
  </div>
 

  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" id="repetition"  onclick="toggle(this, 'repetitionshow+<%- index %>')" name="repetition+<%- index %>" >
    <label class="form-check-label" for="repetition">
      Repetition 
    </label>
    
    <div style="display:none;" id= 'repetitionshow+<%- index %>'> 
      <textarea id="repetitiontext+<%- index %>" name="repetitiontext+<%- index %>"  style="font-size: 1rem;" rows="2" cols="50">
        </textarea>

  </div>
    
  </div>
  
   
  </div>






<% for (let k = 1; k < posts.length; k++) { %>



<div class="content" data-id='<%- index %>' >
  
  <h5 class="card-title"> 
      <%= index %>/<%= posts.length %>  
      <!-- you can do link to post here if you would like, if link is in jsonfile like it is in uncensoredsamples.json:  <a href= "posts[k].link" target="blank" >link to post</a>   --> 
    <br/>  <br/>
    <b> Created UTC:  </b>  
    <p class="card-text">

           <%- posts[k].created_at %>
                    
       
  

      </p>
    
      <b> Tweet:   </b>    
    <p class="card-text">
          
      <%- posts[k].text %>
      </p>
      <%index=index+1; %>       
   
Categories:
<br/><br/>
 <!-- Name calling -->
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" id="namecalling"  onclick="toggle(this, 'namecallingshow+<%- index %>')" name="namecalling+<%- index %>" >
    <label class="form-check-label" for="namecalling">
      Name Calling 
    </label>
    
    <div style="display:none;" id= 'namecallingshow+<%- index %>'> 
      <textarea id="namecallingtext+<%- index %>" name="namecallingtext+<%- index %>"  style="font-size: 1rem;" rows="2" cols="50">
        </textarea>

  </div>
     
  </div>
    <!-- End of Name calling -->

  <!-- Repetition -->
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" id="repetition"  onclick="toggle(this, 'repetitionshow+<%- index %>')" name="repetition+<%- index %>" >
    <label class="form-check-label" for="repetition">
      Repetition 
    </label>
    
    <div style="display:none;" id= 'repetitionshow+<%- index %>'> 
      <textarea id="repetitiontext+<%- index %>" name="repetitiontext+<%- index %>"  style="font-size: 1rem;" rows="2" cols="50">
        </textarea>

  </div>
    
  </div>
  <!-- End of Repetition -->
   

      
</div>




<!--<button type="submit" class="makejson btn btn-primary" value="Save to JSON file" style="width:25% !important"></button>-->





<% } %>








<button style="background-color:gray" type="button" class="back btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
Back
</button>

<!-- 
<button action="/save" method="post" style="background-color:gray" type="button" onclick="myFunction('<%= writefile %>')" class="save btn btn-primary"  aria-pressed="false" autocomplete="off">
Save
</button>
-->


<button style="background-color:gray" type="button" id="next" class="next btn btn-primary"  data-toggle="button" aria-pressed="false" autocomplete="off">
Next
</button>





</div>
      <br/>       <br/>       <br/>
  


      

       <div class="end" data-id='<%- index %>'  >


        <input type="submit" class="makejson btn btn-primary" value="Save to JSON file" style="width:25% !important">
   
      </div>

      

  </div>



    </div>


  </form>    


  </body>




  
  <script src="/javascripts/nextprev.js"></script>
  <script src="/javascripts/hideandshow.js"></script>
  <script src="/javascripts/ifchecked.js"></script>
  <script src="/javascripts/save.js"></script>


<script>


function toggle(ele, id) {
        // console.log("went back")
        var cont = document.getElementById(id);
        if (cont.style.display == 'block') {
            cont.style.display = 'none';


        }
        else {
            cont.style.display = 'block';
          
        }
    }

    
</script>



</html>

   